*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}



nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

.nav-list {
    display: inline-flex;
}
.logo {
    padding-top: 0px;
    padding-left: 20px;
    height: 50px;
}

a {
    color: seashell;
}

.list {
    list-style: none;
    padding-right: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.tea-closeup {
    background-image: url("../images/img-mission-background.jpg");
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
}


.mission-background {
    background-color: black;
    width: 100%;
}

.tea-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tea-item {
    width: 300px;
    height: 200px;
    margin-right: 20px;
}


#locations-background {
    background-image: url("../images/img-locations-background.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

#locations-heading {
    margin: 0px 0px 15px 0px;
}

#locations-wrap {
    align-items: center;
}

.location-items {
    padding-top: 0px;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.location-card {
    padding-top: 0px;
    background-color: black;
    width: 300px;
    margin-right: 40px;
}

.location-card .opacity {
    opacity: 1;
}

.padding {
    padding: 60px 0;
}

/* Footer */

.bottom-footer {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}